<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Analisis Biblico - Ateos Bogotá{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="{{ asset('bundles/ateosanalisis/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/ateosanalisis/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/ateosanalisis/css/alertify.core.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/ateosanalisis/css/alertify.bootstrap.css') }}" rel="stylesheet" />
        
                <script src="{{ asset('bundles/ateosanalisis/js/jquery.js') }}"></script>
                <script src="{{ asset('bundles/ateosanalisis/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('bundles/ateosanalisis/js/alertify.min.js') }}"></script>
                <style>        
                table {
                                background-color: rgba(0, 0, 0, 0);
                                border-collapse: collapse;
                                border-spacing: 0;
                                max-width: 100%;
                        }
                table thead{
                        background-color: #82bdf3;
                }
                table th{
                        padding: 10px 15px;
                        border: 1px solid gray;
                }
                
                table td {
                        border: 1px solid gray;
                        padding: 10px 15px;
                }   
                .alertify-text{
                	height: 40px !important;
                }

				.contenedorComentarios{
					border: 1px solid gray;
					border-radius: 4px;
					margin: 20px 0;
				}

				.titulo{
					color: #AAAAAA;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 700;
					left: 15px;
					top: 15px;
				}


				.texto{
					background-color: #F5F5F5;
					border: 1px solid #CCCCCC;
					border-radius: 4px;
					color: #333333;
					font-size: 13px;
					margin: 0 0 10px;
					padding: 9.5px;
					margin: 5px;
					font-style: italic;
				}

				.comentario{
					border: 1px solid gray;
					margin: 20px;
					padding: 20px;

				}                
        </style>
    </head>
    <body>

<div class="container">
{#
            {% if app.user %}
                 Bienvenido: {{ app.user.username }} - <a href="{{ path('logout')}}">Salir</a>
                 <hr>
                 
            {% else %}
                    
            {% endif %}
#}  
<h1>Analisis Biblico</h1>
<a href="{{path('ateos_analisis_homepage')}}">Inicio</a>

        {% block body %}{% endblock %}


<hr/>
<div class="container">
Ateos de Bogotá<br>
</div>
<script>
        {% block javascripts %}{% endblock %}
</script>
    </body>
</html>
